*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial Narrow Bold', sans-serif;
}
.header {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1 a{
    color: rgb(223, 130, 130);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-decoration: none;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.navbar a{
    color: red;
    text-decoration: none;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar li{
    position: relative;
}
.navbar li::after{
    content: '';
    margin: auto;
    width: 0%;
    display: block;
    background-color: blue;
    text-align: center;
    height: 2px;
    
}
.navbar li.active::after{
    width: 100%;
}
.navbar li:hover::after{
    width: 100%;
    transition: 0.55s;
}
.textbox{
    top: 50%;
    left: 50%;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.aboutustextbox {
    top: 50%;
    left: 50%;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid red;
    padding: 12px 30px;
    margin-top: 10px;
    background: transparent;
    position: relative;
}
.header p{
    padding: 10px 0;
}
.header::before {
    content: "";
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
.button:hover{
    border: 1px solid blue;
    background-color: rgb(117, 117, 179);
    color: red;
}
/*body*/
body h2, body h1{
    color: rgb(4, 4, 72);
}
p{
    color: rgb(1, 1, 59);
}
/*News and Updates section*/
.newsupdate{
    padding: 10px;
}
.newsupdate h2{
    text-align: center;
}
.card{
    background-color: rgb(33, 231, 234);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex-basis: 33%;
}
hr{
    margin: 20px 0;
}
.cards{
    display: flex;
}
/*Upcomming Events*/
.upevent{
    text-align: center;
    background-color: rgb(214, 212, 212);
    padding: 10px;
}
.event {
    padding: 20px;
    padding-bottom: 40px;
    margin:  20px auto;
    border-radius: 5px;
    width: 80%;
    background-color: aqua;
}
.evhead{
    font-size: small;
    font-weight: bold;
    float: left;
}
.date{
    font-size: x-small;
    color: rgb(136, 133, 133);
    float: right;
}
/*Accademic sections*/
.section{
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}
.sections img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
/*Why SSA*/
/*.whyus{
    text-align: center;
    height:70vh;
    padding: 10px;
}
.whyus i{
     font-size: 30px;
     color: blue;
     padding-right: 7px;
     display: block;
}
.why h4{
    display: flex;
}
.row{
    margin: auto;
    padding: 30px;
    width: 90%;
}
.why{
    padding-right: 20px;
    padding-bottom: 3%;
}
.why1{
    float: left;
    width: 50%;
}
.why2{
    float: right;
    width: 50%;
}
.row, h4{
    padding: 10px;
}*/
/*review*/
.review{
    background-color: rgb(214, 191, 235);
    padding: 10px;
    text-align: center;
}
.reviews h2{
    text-align: center;
}
.review .card{
    background-color: blue;
}
.review p{
    color: rgb(219, 222, 224);
}
/*Footer*/
footer{
    display: flex;
    color: white;
    background-color: rgb(7, 5, 56);
    align-items: center;
    justify-items: center;
    padding:20px;
    height: auto;
}
.motto,.contactinfo, .quicklinks,.fsection{
 flex-basis: 40%;
 padding: 10px;
}
footer li{
    list-style: none;
    padding-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: cyan;
}
footer h3{
    font-size: x-large;
    padding-bottom: 10px;
    font-weight: 200;
}






/*--------------About Us-----------*/
/*About Us Header*/
.aboutusheader{
    width: 100%;
    min-height: 60vh;
    position: relative;
}
.aboutusheader::before {
    content: "";
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
/*School Overview and History*/
.aboutusoverview{
    padding: 20px;
    text-align: justify;
    display: flex;
}
.aboutusoverview h2{
    padding: 10px;
}
.missionvision{
    padding: 10px;
}
.missionvision h2,.missionvision p{
    text-align: center;
    padding-bottom: 10px;
}
.missionandvision{
    display: flex;
}
.mission,.vision,.corevalue{
    background-color: aqua;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}







/*-------------Gallary----------*/
.gallaryheader{
    width: 100%;
    min-height: 60vh;
    position: relative;
}
.gallaryheader::before {
    content: "";
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
.gallaryimages{
    text-align: center;
    padding-top: 10px;
}
.gallaryimages img{
    width: 23%;
    height: 23%;
}





/*Contact Us-----------*/
table, td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 40%;
    height: 50%;
    padding:40px 20px;
    margin: 20px;
}
.contactpage{
    display: flex;
    padding: 10px;
    margin: 20px;
}
.tables{
    float: right;
}
.tables h2{
    padding:30px 0;
}
input, textarea{
    padding: 10px;
    margin:10px 0;
}
form .button{
    background-color: aqua;
}
.schoolmap{
    align-items: center;
    margin: auto;
    width: 100%;
    padding:0 40px;
    padding-bottom: 10px;
}












@media (max-width: 700px) {
    nav{
        display: none;
    }
    /*News and Updates section*/
    .cards{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    #news .card{
        padding: 15px;
    }
    /*Why SSA*/
    .why1, .why2{
        float: none;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .why{
        padding: 5px;
    }
    footer{
        display: block;
        height: 100%;
        text-align: left;
        justify-items: left;
    }
}